<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<QueryServer>
		<FeatureDataManager type="mySQL">
			<databasename>sentiments_and_feature_for_rest_db</databasename>
			<user>root</user> 
			<password>1qaz2wsx</password> 
			<host>127.0.0.1</host>
		</FeatureDataManager>
		<SoureDataManager type="mySQL">
			<user>root</user> 
			<password>1qaz2wsx</password> 
			<host>127.0.0.1</host>
			<databaseName>yelp_challenge</databaseName>
		</SoureDataManager>
		<SUSDataManager type="mySQL">
			<user>root</user>
			<password>1qaz2wsx</password>
			<host>127.0.0.1</host>
			<databaseName>sus_data</databaseName>
		</SUSDataManager>
	</QueryServer>
</configuration>