{% extends "layout.html" %}
{% block body %}

<div class="row row-max-height" style="height: 100%;">
    <div class="col-md-9" style="height: 100%;">
        <div id="map"></div>
    </div>
    <div class="col-md-3" id="info" >
        <div>
            <button type="button" class="btn btn-default" onclick="MainControl.GoogleMapHelper.ShowAll()">Show All</button>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#homeInfo">Home</a>
            </li>
            <li>
                <a data-toggle="tab" href="#itemInfo">Menu 1</a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu2">Menu 2</a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu3">Menu 3</a>
            </li>
        </ul>

        <div class="tab-content" style="overflow-y:scroll;height:100%;">
            <div id="homeInfo" class="tab-pane fade in active" style="height:600px;">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="itemInfo" class="tab-pane fade">
                <h3>itemInfo</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>
    </div>
</div>

<script src="/static/scripts/mapcontorl.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=MainControl.GoogleMapHelper.initMap"
        async defer>

</script>


{% endblock %}