{% extends "layout.html" %}
{% block body %}


<div class="row row-max-height" style="height: 100%;z-index:-10;">
    <div class="col-md-9" style="height: 100%;">
        <div id="map"></div>
    </div>
    <div class="col-md-3" id="info" style="height:100%;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#homeInfo">Select Features</a>
            </li>
            <li>
                <a data-toggle="tab" href="#features">Features</a>
            </li>
            <li>
                <a data-toggle="tab" href="#restaurantsToCompare">Restaurants to compare</a>
            </li>
        </ul>

        <div class="tab-content" style="overflow-y:scroll;height:80%;">
            <div id="homeInfo" class="tab-pane fade in active" style="height:80%;">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="features" class="tab-pane fade">
                <h3>itemInfo</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="restaurantsToCompare" class="tab-pane fade">
                <h3>Restaurantstocompare</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
    </div>


    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <!--<div id="messageBox" class="modal fade" role="dialog">
        <div class="modal-dialog">-->

            <!-- Modal content-->
            <!--<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="messgeHeader" ></h4>
                </div>
                <div class="modal-body" id="messageBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>-->
    <script src="/static/scripts/htmlGenerator.js"></script>
    <script src="/static/scripts/featureHelper.js"> </script>
    <script src="/static/scripts/mapcontorl.js"></script>



    <script>
        function setFeatures(featuresArray) {
            $("#featureSearchList").html('').select2({data: featuresArray});
        }

        $(function () {
            var featuresList = FeatureHelper.featureManager.getAllFeatures(setFeatures);}) ;


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&callback=MainControl.GoogleMapHelper.initMap"
            async defer>

    </script>


    {% endblock %}